@mixin mobile-page-header {
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    font-weight: 700;
}

@mixin mobile-section-header {
    font-size: 0.75rem; //12px
    line-height: 1.25rem; //20px
    font-weight: 700;
}

@mixin mobile-subheader {
    font-size: 0.81rem; //13px
    line-height: 1.13rem; //18px
    font-weight: 700;
}

@mixin mobile-body {
    font-size: 0.81rem; //13px
    line-height: 1.13rem; //18px
    font-weight: 400;
}

@mixin mobile-labels-buttons {
    font-size: 0.63rem; //10px
    line-height: 1.25rem; //20px
    font-weight: 600;
}

// ----------- Tablet & Desktop Fonts ----------

@mixin page-header {
    font-size: 2.06rem; //33
    line-height: 2.75rem; //44px
    font-weight: 700;
}

@mixin section-header {
    font-size: 0.75rem; //12px
    line-height: 1.25rem; //20px
    font-weight: 700;
}

@mixin subheader {
    font-size: 0.88rem; //14px
    line-height: 1.38rem; //22px
    font-weight: 700;
}

@mixin body {
    font-size: 0.88rem; //14px
    line-height: 1.38rem; //22px
    font-weight: 400;
}

@mixin buttons {
    font-size: 0.75rem; //12px
    line-height: 1.25rem; //20px
    font-weight: 700;
}