@use "../../styles/partials/colors";
@use "../../styles/partials/font";
@use "../../styles/partials/typography";
@use "../../styles/partials/mixins";
@use "../../styles/partials/margins";

.homePage {
  min-height: 84vh;

  @include mixins.mobile {
    padding-top: 3.5rem;
  }

  @include mixins.tablet {
    padding-top: 3.2rem;
  }




  .hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url("../../assets/image/hero-bkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mixins.mobile {
      height: 25rem;
    }

    @include mixins.tablet {
      height: 50vh;
    }

    @include mixins.desktop {
      height: 60vh;
    }

    &__textbox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      background-color: rgba(175, 134, 116, 0.5);
      padding: 20px;
      border-radius: 8px;

      @include mixins.mobile {
        width: 60%;
      }

      h1 {

        @include mixins.mobile {
          @include font.mobile-page-header;
        }

        @include mixins.tablet {
          @include font.page-header;
          margin-bottom: 10px;
        }

      }

      p {

        @include mixins.mobile {
          @include font.mobile-body;
        }

        @include mixins.tablet {
          @include font.body;
          margin-bottom: 20px;
        }

      }
    }

    &__button {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      background-color: colors.$Background;
      border: none;

      a {
        text-decoration: none;
        color: colors.$BrightText;
      }


      &:hover {
        background-color: colors.$DarkerBkg;
        cursor: pointer;
      }

      &.active {
        background-color: colors.$DarkerBkg;
      }
    }
  }

  .review {

    background-color: colors.$Background;
    text-align: center;

    @include mixins.mobile {
      padding: margins.$mobile-heading-top margins.$mobile-margins;
    }

    @include mixins.tablet {
      padding: margins.$heading-top margins.$tablet-margins;
    }

    @include mixins.desktop {
      padding: margins.$heading-top margins.$desktop-margins;
    }


    h2 {
      color: colors.$BrightText;
      margin: 0;

      @include mixins.mobile {
        @include font.mobile-subheader;
        margin-bottom: margins.$mobile-heading-bottom;
      }

      @include mixins.tablet {
        @include font.subheader;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    &__item {
      max-width: 600px;
      padding: 20px;
      background-color: colors.$LighterText;
      border-radius: 8px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

      p {
        margin-bottom: 10px;
        color: colors.$PrimaryColor;

        @include mixins.mobile {
          @include font.mobile-body;
        }

        @include mixins.tablet {
          @include font.body;
        }
      }

      span {
        color: colors.$PrimaryColor;

        @include mixins.mobile {
          @include font.mobile-body;
          font-weight: 700;
        }

        @include mixins.tablet {
          @include font.body;
          font-weight: 700;
        }
      }
    }
  }
}